@media screen and (max-width: 720px)
{
    .homepageLayout
    {
        margin-top: 40%;
    }
}

@media screen and (max-width:575px)
{
    .homepageLayout
    {
        margin-top: 60%;
    }
}

.heading
{
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 5%;
    text-align: left;
    color: #011627;
    font-weight: 500;
    font-size: 20px;
    font-family: "Times New Roman", Times, serif;
}

.guide
{
    margin-left: 10%;
}

.headingThree
{
    margin-left:10%;
}